.header {
    padding: 3%;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex: 3fr 1fr 1fr;
    width: 100%;
    height: 4vh;
    background: #455060 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #272d3b33;
    opacity: 1;
    color: white;
}

.title {
    width: 80%;
}

@media (max-width: 400px) {
    .header {
        width: 100%;
        font-size: small;
    }
}

#search {
    /* position: absolute;
    top: 2vh;
    right: 19vw; */
    width: 25px;
    height: 25px;
    opacity: 1;
}

#bell {
    /* position: absolute;
    top: 2vh;
    right: 17vw; */
    width: 25px;
    height: 25px;
    opacity: 1;
}

.user {
    /* position: absolute;
    top: 0.1px;
    right: 5vw; */
    width: 7vw;
}
